{{header-component
  doNews="doNews"
  doDocs="doDocs"
  sendToPi="sendToPi"
  saveProject="saveProject"
  doSavedProjects="doSavedProjects"
  doLogIn="doLogIn"
  doLogOut="doLogOut"
  serialMonitor="serialMonitor"
  selectBlocksMode="selectBlocksMode"
  selectSketchMode="selectSketchMode"
  newBlockProject="newBlockProject"
  doShowDownloadModal="doShowDownloadModal"
  onPi=model.onPi.onPi
  editor=indexController.editor
  session=session
  project=model.project
  electronAppInstalled=electronAppInstalled
  chromeAppInstalled=chromeAppInstalled
}}

{{outlet}}

{{#if showContextHelp}}
  <div class="context-help">
    {{fa-icon "question-circle" size=1 border=false}} {{t "common.helpMenu.label"}}:
    <button class="btn btn-default" {{action "doShowIntroHelp"}}>{{t "common.helpMenu.introButton"}}</button>


    {{#if session.errors}}
      <button class="btn btn-danger" {{action "doShowErrorModal"}}>{{fa-icon "exclamation-triangle" size="1" border=false}} {{t "common.errors.codeHas"}} {{session.errors.length}} {{t "common.errors.error"}}</button>
    {{/if}}


    {{#if session.hasArduinoCar}}
      <button class="btn btn-default btn-car" {{action "showContextHelpCar"}}>{{fa-icon "question-circle" size="1" border=false}} {{t "common.helpMenu.arduinoCarLabel"}}</button>
    {{/if}}
  </div>
{{/if}}

{{#if showSaveProjectModal}}
  <div id="saveProjectModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t "common.header.save"}}</h4>
        </div>
        <div class="modal-body">
          <div>{{t "common.index.projectName"}}</div>
          <div class="text-center" style="margin-top: 20px;">
            <div>
              {{input type="text" value=model.project.name}}
              {{#if projectSaving}}
                <i class="fa fa-spinner fa-spin"></i>
              {{/if}}
              {{#if projectSaveSuccess}}
                <span class="label label-success"><i class="fa fa-check"></i> {{t "common.header.saved"}}</span>
              {{/if}}
              {{#if projectSaveFailed}}
                <span class="label label-danger"><i class="fa fa-times"></i> {{t "common.header.notSaved"}}</span>
              {{/if}}
            </div>
            <div>
              <button class="btn btn-primary" style="margin-top: 20px;" {{action "doSaveProject"}}>{{t "common.header.save"}}</button>
              <button class="btn btn-primary" style="margin-top: 20px;" {{action "doRemixProject"}}>{{t "common.index.saveRemix"}}
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideSaveProject"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showUploadToArduinoModal}}
  <div id="uploadProjectModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t "common.index.uploadProject"}}</h4>
        </div>
        <div class="modal-body">
          {{t "common.index.arduinoSelect"}}
          <select onchange={{action (mut selectedArduino) value="target.value"}}>
            <option value="uno">Arduino Uno</option>
            <option value="nanoatmega328">Arduino Nano 328</option>
            <option value="bbcmicrobit">BBC micro:bit (beta)</option>
          </select>

          <button class="btn btn-info pull-right" {{action "doUploadToArduino"}}>{{t "common.index.startUpload"}}</button>

          {{#if uploadStarted}}
            <table class="table">
              <tbody>

              {{#if compileStatus}}
                <tr>
                  <td>
                    {{#if compileError}}
                      {{fa-icon "close" size=2 border=false style="color: red;"}}
                    {{else}}
                      {{fa-icon "check" size=2 border=false style="color: green;"}}
                    {{/if}}
                    {{t "common.index.compileStatus"}}
                  </td>
                  <td>{{compileStatus}}</td>
                </tr>
              {{/if}}

              {{#if uploadResponseMessage}}
                <tr>
                  <td colspan="2">{{t "common.index.compileLog"}}<br/>
                    {{textarea value=uploadResponseMessage classNames="loggArea"}}</td>
                </tr>
              {{/if}}


              {{#if uploadError}}
                <tr>
                  <td>
                    {{#if uploadErrorStatus}}
                      {{fa-icon "close" size=2 border=false style="color: red;"}}
                    {{else}}
                      {{fa-icon "check" size=2 border=false style="color: green;"}}
                    {{/if}}
                    {{t "common.index.statusUpload"}}

                  </td>
                  <td>{{uploadError}}</td>
                </tr>
              {{/if}}

              {{#if uploadUsbPort}}
                <tr>
                  <td>{{t "common.index.usbPort"}}</td>
                  <td>{{uploadUsbPort}}</td>
                </tr>
              {{/if}}

              </tbody>
            </table>
          {{/if}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "closeUploadPanel"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showSerialMonitorModal}}
  <div id="serialMonitorModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t "common.index.serialMonitor"}}</h4>
        </div>
        <div class="modal-body">
          {{#if serialStarted}}
            <table class="table">
              <tr>
                <td>Port:</td>
                <td>
                  <select onchange={{action (mut selectedSerialPort) value="target.value"}}>
                    <option value="-1">{{t "common.index.portChoose"}}</option>
                    {{#each serialPortsAvailable as |sp|}}
                      <option value={{sp.comName}} selected={{eq sp selectedSerialPort}}>{{sp.comName}}
                        - {{sp.manufacturer}}</option>
                    {{/each}}
                  </select>
                </td>
                <td>
                  <button class="btn btn-primary" {{action "openSerialMonitor"}}>{{t "common.index.startSerial"}}</button>
                </td>
              </tr>
            </table>

            {{#if streamSerial}}
                <div class="row">
                  <div class="col-md-10">{{input type="text" value=serialInput placeholder="Skriv til Seriell porten" class="form-control" insert-newline='sendTextToSerial'}}</div>
                  <div class="col-md-2"><button class="btn btn-default form-control" {{action "sendTextToSerial"}}>Send</button></div>
                </div>
                <div>{{textarea id="serialMonitorOutput" value=serialDataRead classNames="loggArea"}}</div>
            {{/if}}

          {{/if}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideSerialMonitor"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showDownloadModal}}
  <div id="downloadModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t "common.divs.installProgram"}}</h4>
        </div>
        <div class="modal-body">
          <div>
            {{t "common.divs.installAddProgram"}}
          </div>

          <div class="clearfix">&nbsp;</div>

          <div>
            {{t "common.divs.installedAddProgram"}}
          </div>
          <h1>{{t "common.index.forChromebook"}}</h1>
          <div>
            {{t "common.index.blockuinoHex"}} <a
            href="https://chrome.google.com/webstore/detail/blockuino-hex-uploader-av/ekbpmcpbckbdpbjhdchoniihflnmabie"
            target="_blank">https://chrome.google.com/webstore/detail/blockuino-hex-uploader-av/ekbpmcpbckbdpbjhdchoniihflnmabie</a>.
          </div>

          <h1>{{t "common.index.forWindows"}}</h1>
          <div>
            {{t "common.index.blockuinoElectron"}} <a
            href="http://blockuino.no/downloads/BlockuinoElectronInstaller.exe" target="_blank">http://blockuino.no/downloads/BlockuinoElectronInstaller.exe</a>.
          </div>

          <h1>For Mac:</h1>
          <div>
            {{t "common.index.blockuinoElectronIOS"}} <a href="http://blockuino.no/downloads/blockuino-electron-app.dmg"
                                                        target="_blank">http://blockuino.no/downloads/blockuino-electron-app.dmg</a>.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideDownloadModal"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showContextHelpModal}}
  <div id="contextHelpModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t contextHelpHeadlineTranslationKey}}</h4>
        </div>
        <div class="modal-body">
          {{#if contextHelpTextTranslationKey}}
            <div>
              {{t contextHelpTextTranslationKey}}
            </div>
          {{/if}}

          <div class="clearfix">&nbsp;</div>

          {{#if contextHelpLink}}
            <div>
              <a href="{{contextHelpLink}}" target="_blank">{{t "common.readAt"}}</a>
            </div>
          {{/if}}

          <div class="clearfix">&nbsp;</div>

          {{#if contextHelpYoutubeId}}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{contextHelpYoutubeId}}" frameborder="0" allowfullscreen></iframe>
          {{/if}}

          <div class="clearfix">&nbsp;</div>

          {{#if contextHelpPurchaseLink}}
            <hr width="25%" />
            <div class="row">
              <div class="col-md-4">
                <img src="{{contextHelpPurchaseImage}}" style="width: 100%" />
              </div>
              <div class="col-md-8">
                {{contextHelpPurchaseText}}
                <br />
                <br />
                <a href="{{contextHelpPurchaseLink}}" target="_blank">{{t "common.shopAt"}}</a>
              </div>
            </div>
          {{/if}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideContextModal"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showErrorModal}}
  <div id="errorModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{t "common.errors.header"}}</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <tbody>
            {{#each session.errors as |error|}}
              <tr>
                <td>ID: {{error.id}} - {{t error.messageTranslationKey}}</td>
                <td><img class="error-image" src="/errors/no/{{error.id}}.png" /></td>
              </tr>
            {{/each}}
            </tbody>
          </table>
          <ul>

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideErrorModal"}}>{{t "common.done"}}</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}