{{header-component
  doNews="doNews"
  doDocs="doDocs"
  sendToPi="sendToPi"
  saveProject="saveProject"
  doSavedProjects="doSavedProjects"
  doLogIn="doLogIn"
  doLogOut="doLogOut"
  serialMonitor="serialMonitor"
  selectBlocksMode="selectBlocksMode"
  selectSketchMode="selectSketchMode"
  newBlockProject="newBlockProject"
  doShowDownloadModal="doShowDownloadModal"
  onPi=model.onPi.onPi
  editor=indexController.editor
  session=session
  project=model.project
  electronAppInstalled=electronAppInstalled
  chromeAppInstalled=chromeAppInstalled
}}

{{outlet}}

{{#if showSaveProjectModal}}
  <div id="saveProjectModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Lagre Prosjektet</h4>
        </div>
        <div class="modal-body">
          <div>Her kan du lagre prosjektet ditt ved å gi prosjektet et navn</div>
          <div class="text-center" style="margin-top: 20px;">
            <div>
              {{input type="text" value=model.project.name}}
              {{#if projectSaving}}
                <i class="fa fa-spinner fa-spin"></i>
              {{/if}}
              {{#if projectSaveSuccess}}
                <span class="label label-success"><i class="fa fa-check"></i> Lagret</span>
              {{/if}}
              {{#if projectSaveFailed}}
                <span class="label label-danger"><i class="fa fa-times"></i> Klarte ikke lagre</span>
              {{/if}}
            </div>
            <div>
              <button class="btn btn-primary" style="margin-top: 20px;" {{action "doSaveProject"}}>Lagre</button>
              <button class="btn btn-primary" style="margin-top: 20px;" {{action "doRemixProject"}}>Lagre som Remiks
              </button>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideSaveProject"}}>Ferdig</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showUploadToArduinoModal}}
  <div id="uploadProjectModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Last opp prosjektet</h4>
        </div>
        <div class="modal-body">
          Velg en Arduino:
          <select onchange={{action (mut selectedArduino) value="target.value"}}>
            <option value="uno">Arduino Uno</option>
            <option value="nanoatmega328">Arduino Nano 328</option>
            <option value="bbcmicrobit">BBC micro:bit (beta)</option>
          </select>

          <button class="btn btn-info pull-right" {{action "doUploadToArduino"}}>Start opplasting</button>

          {{#if uploadStarted}}
            <table class="table">
              <tbody>

              {{#if compileStatus}}
                <tr>
                  <td>
                    {{#if compileError}}
                      {{fa-icon "close" size=2 border=false style="color: red;"}}
                    {{else}}
                      {{fa-icon "check" size=2 border=false style="color: green;"}}
                    {{/if}}
                    Kompileringsstatus:
                  </td>
                  <td>{{compileStatus}}</td>
                </tr>
              {{/if}}

              {{#if uploadResponseMessage}}
                <tr>
                  <td colspan="2">Kompileringslogg: <br/>
                    {{textarea value=uploadResponseMessage classNames="loggArea"}}</td>
                </tr>
              {{/if}}


              {{#if uploadError}}
                <tr>
                  <td>
                    {{#if uploadErrorStatus}}
                      {{fa-icon "close" size=2 border=false style="color: red;"}}
                    {{else}}
                      {{fa-icon "check" size=2 border=false style="color: green;"}}
                    {{/if}}
                    Opplastingsstatus:

                  </td>
                  <td>{{uploadError}}</td>
                </tr>
              {{/if}}

              {{#if uploadUsbPort}}
                <tr>
                  <td>USB Port:</td>
                  <td>{{uploadUsbPort}}</td>
                </tr>
              {{/if}}

              </tbody>
            </table>
          {{/if}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "closeUploadPanel"}}>Ferdig</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showSerialMonitorModal}}
  <div id="serialMonitorModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Seriellovervåker</h4>
        </div>
        <div class="modal-body">
          {{#if serialStarted}}
            <table class="table">
              <tr>
                <td>Port:</td>
                <td>
                  <select onchange={{action (mut selectedSerialPort) value="target.value"}}>
                    <option value="-1">Velg en port...</option>
                    {{#each serialPortsAvailable as |sp|}}
                      <option value={{sp.comName}} selected={{eq sp selectedSerialPort}}>{{sp.comName}}
                        - {{sp.manufacturer}}</option>
                    {{/each}}
                  </select>
                </td>
                <td>
                  <button class="btn btn-primary" {{action "openSerialMonitor"}}>Start Seriell overvåker</button>
                </td>
              </tr>
            </table>

            <div>{{textarea id="serialMonitorOutput" value=serialDataRead classNames="loggArea"}}</div>
          {{/if}}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideSerialMonitor"}}>Ferdig</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}

{{#if showDownloadModal}}
  <div id="downloadModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">For å laste opp må du installere et program</h4>
        </div>
        <div class="modal-body">
          <div>
            For å laste opp fra Blockuino.no direkte til Arduinoen, må du installere et tilleggsprogram. Kodegenet har
            utviklet programvare for å støtte Chromebook via en Chrome App, samt Windows og Mac via en egenutviklet
            Electron applikasjon (beta).
          </div>

          <div class="clearfix">&nbsp;</div>

          <div>
            Når tilleggsprogrammet er installert og kjører i bakgrunnen, kan Blockuino laste opp programmer direkte
            til Arduinoen via USB-inngangen på maskinen.
          </div>
          <h1>For Chromebook:</h1>
          <div>
            Installer Blockuino HEX Uploader: <a
            href="https://chrome.google.com/webstore/detail/blockuino-hex-uploader-av/ekbpmcpbckbdpbjhdchoniihflnmabie"
            target="_blank">https://chrome.google.com/webstore/detail/blockuino-hex-uploader-av/ekbpmcpbckbdpbjhdchoniihflnmabie</a>.
          </div>

          <h1>For Windows:</h1>
          <div>
            Installer Blockuino-Electron for Windows: <a
            href="http://blockuino.no/downloads/BlockuinoElectronInstaller.exe" target="_blank">http://blockuino.no/downloads/BlockuinoElectronInstaller.exe</a>.
          </div>

          <h1>For Mac:</h1>
          <div>
            Installer Blockuino-Electron for MacOS X <a href="http://blockuino.no/downloads/blockuino-electron-app.dmg"
                                                        target="_blank">http://blockuino.no/downloads/blockuino-electron-app.dmg</a>.
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" {{action "hideDownloadModal"}}>Ferdig</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div><!-- /.modal -->
{{/if}}