<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <h1>{{t "common.index.savedProjects"}}</h1>

      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{t "common.index.projectID"}}</th>
          <th>{{t "common.header.name"}}</th>
          <th>{{t "common.index.created"}}</th>
          <th>{{t "common.index.madeBy"}}</th>
          <th>{{t "common.index.remixedBy"}}</th>
        </tr>
        </thead>
        <tbody>

        {{#each sortedProjects as |project|}}
          <tr>
            <td>{{#link-to "index" (query-params projectId=project.id editor="blocks")}}{{project.id}}{{/link-to}}</td>
            <td>{{#link-to "index" (query-params projectId=project.id editor="blocks")}}{{project.name}}{{/link-to}}</td>
            <td>{{moment-from-now project.createdDateMs}}</td>
            <td>{{email-obfuscator project.username}}</td>
            <td>{{#link-to "index" (query-params projectId=project.remixOf editor="blocks")}}{{project.remixOf}}{{/link-to}}</td>
          </tr>
        {{/each}}

        </tbody>
      </table>
    </div>
</div>