<div class="row header-area">
  <div class="col-sm-10 text-center">
    {{#link-to "index"}}
      <img src="/blockuino_logo.png" class="logo">
    {{/link-to}}

    <div class="btn-group btn-group-sm" role="group" aria-label="Type editor">
      <button type="button" class="{{if (eq editor 'blocks') 'btn btn-primary' 'btn btn-default'}}" {{action
        "selectBlocksMode"}}>{{fa-icon "puzzle-piece" size=2 border=false}}<br /> {{t "common.header.blocks"}}
      </button>
      <button type="button" class="{{if (eq editor 'sketch') 'btn btn-primary' 'btn btn-default'}}" {{action
        "selectSketchMode"}}>{{fa-icon "code" size=2 border=false}}<br />{{t "common.header.textCode"}}
      </button>
    </div>

    <div class="btn-group btn-group-sm small-margin-left" role="group" aria-label="Type editor">
      <button type="button" class="btn btn-default" {{action "newBlockProject"}}>{{fa-icon "file-text-o" size=2 border=false}}<br />
        {{t "common.header.new"}}
      </button>

      {{#if session.session.username}}
        <button type="button" class="btn btn-default" {{action "saveProject"}}>
          {{fa-icon "save" size=2 border=false}}<br />
          {{#if projectIsOwn}}
            {{t "common.header.new"}}
          {{else}}
            {{t "common.header.remix"}}
          {{/if}}
        </button>
      {{/if}}

      {{#if appInstalled}}
        <button type="button" class="btn btn-default" {{action "sendToPi"}}>{{fa-icon "upload" size=2 border=false}}<br /> {{t "common.header.upload"}}
        </button>
        <button type="button"  class="btn btn-default" {{action "serialMonitor"}}>{{fa-icon "exchange" size=2 border=false}}<br />
          {{t "common.header.serialMonitor"}}
        </button>
      {{else}}
        <button type="button" class="btn btn-default" {{action "doShowDownloadModal"}}>{{fa-icon "upload" size=2 border=false}}<br /> {{t "common.header.upload"}}
        </button>
      {{/if}}

      {{#if (eq session.lang "no")}}
        <button type="button"  class="btn btn-default" {{action "chooseEnglish"}}>{{fa-icon "globe" size=2 border=false}}<br />
          {{t "common.english"}}
        </button>
      {{else}}
        <button type="button"  class="btn btn-default" {{action "chooseNorwegian"}}>{{fa-icon "globe" size=2 border=false}}<br />
          {{t "common.norwegian"}}
        </button>
      {{/if}}
    </div>
  </div>
  <div class="col-sm-2">
    <div class="menu-button" {{action "toggleHamburger"}}>
      {{fa-icon "cog" spin=showingHamburger size=2}}
    </div>
  </div>
</div>
<div id="headerHamburger" class="header-hamburger">
  <div class="header-container">
    <div class="center-container">
      {{#if liveEmbed}}
        <a href="{{newWindowUrl}}" target="_blank" class="menu-item">
          {{fa-icon "home" size=2 border=true}}
          <div>Åpne Kodebiten i et eget vindu</div>
        </a>
        <a href="https://editor.kodegenet.no/howto" target="_blank" class="menu-item">
          {{fa-icon "info" size=2 border=true}}
          <div>Om Kodegenets Editor</div>
        </a>
        <a href="https://editor.kodegenet.no/info" target="_blank" class="menu-item">
          {{fa-icon "question" size=2 border=true}}
          <div>Hvordan fungerer Kode editoren?</div>
        </a>
      {{else}}
        <div class="menu-item" {{action "doHome"}}>
          {{fa-icon "home" size=2 border=true}}
          <div>Forsiden</div>
        </div>

        <div class="menu-item" {{action "doSavedProjects"}}>
          {{fa-icon "list-alt" size=2 border=true}}
          <div>Lagrede prosjekter</div>
        </div>

        <div class="menu-item" {{action "doNews"}}>
          {{fa-icon "newspaper-o" size=2 border=true}}
          <div>Nyheter</div>
        </div>
        <div class="menu-item" {{action "doDocs"}}>
          {{fa-icon "book" size=2 border=true}}
          <div>Dokumentasjon</div>
        </div>

        {{#if session.session.username}}
          <div class="menu-item" {{action "doLogOut"}}>
            {{fa-icon "sign-in" size=2 border=true}}
            <div>Logg ut</div>
          </div>
        {{else}}
          <div class="menu-item" {{action "doLogIn"}}>
            {{fa-icon "sign-in" size=2 border=true}}
            <div>Logg inn</div>
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>