<div class="vertical-menu-bar">
  {{vertical-menu-item icon="fa fa-2x fa-clipboard" translationKey="common.index.copyToClipboard" clickAction="showClipboardModal"}}
  {{vertical-menu-item icon="fa fa-2x fa-download"translationKey="common.index.downloadToComputer" clickAction="showDownloadXmlModal"}}
  {{vertical-menu-item icon="fa fa-2x fa-upload" translationKey="common.index.uploadFromComputer" clickAction="showUploadXmlModal"}}

    <hr class="vertical-menu-separator">
  {{#if codeVisible}}
    {{vertical-menu-item icon="fa fa-2x fa-arrow-circle-o-right" translationKey="common.index.hideArduinoCode" clickAction="hideCodeArea"}}
  {{else}}
    {{vertical-menu-item icon="fa fa-2x fa-arrow-circle-o-left" translationKey="common.index.showArduinoCode" clickAction="showCodeArea"}}
  {{/if}}

    <hr class="vertical-menu-separator">
  {{vertical-menu-item icon="fa fa-2x fa-home" translationKey="common.index.visitKodegenet" link="http://kodegenet.no"}}
  {{vertical-menu-item icon="fa fa-2x fa-github" translationKey="common.index.visitGithub" link="https://github.com/joachimhs/blockuino"}}
  {{vertical-menu-item icon="fa fa-2x fa-instagram" translationKey="common.index.visitInstagram" link="http://instagram.com/kodegenet"}}
  {{vertical-menu-item icon="fa fa-2x fa-twitter-square" translationKey="common.index.visitTwitter" link="http://twitter.com/kodegenet"}}
  {{vertical-menu-item icon="fa fa-2x fa-facebook-square" translationKey="common.index.visitFacebook" link="http://facebook.com/kodegenet"}}
</div>

{{#if (eq editor 'blocks')}}
<div class="programming-area">
    <div class="row">
        <div class="{{if codeVisible 'col-md-6' 'col-md-12'}}">
          {{blockly-comp lang=session.lang codeVisible=codeVisible workspace=workspace generatedCode=blocklyCode generatedXML=generatedXML}}
        </div>
        <div class="{{if codeVisible 'col-md-6' 'col-md-2'}}">
          {{#if codeVisible}}
            {{#if showCode}}
              {{highlight-code sourceCode=blocklyCode isCode=true isXml=false}}

            {{/if}}

            {{#if showXml}}
                <button class="btn btn-primary" {{action "fromXml"}}><i class="fa fa-arrow-circle-o-left"></i> Last inn XML
                </button>
              {{textarea classNames="generated-code" value=generatedXML}}
            {{/if}}
          {{/if}}
        </div>
    </div>
</div>
{{/if}}

{{#if (eq editor 'sketch')}}
  <div class="programming-area">
    <div class="row">
      <div class="col-md-12">
        {{ivy-codemirror options=(hash lineNumbers=true mode="text/x-csrc" matchClosing=true) value=model.project.content.content valueUpdated=(action (mut model.project.content.content))}}
      </div>
    </div>
  </div>
{{/if}}

{{#if showUploadModal}}
    <div id="uploadXmlModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">{{t "common.index.uploadFromComputer"}}</h4>
                </div>
                <div class="modal-body">
                    <div>{{t "common.divs.uploadXML"}}
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <input id="xmlFileChooser" type="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" {{action "hideUploadXmlModal"}}>{{t "common.done"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{{/if}}

{{#if showDownloadModal}}
    <div id="downloadXmlModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">{{t "common.index.downloadToComputer"}}</h4>
                </div>
                <div class="modal-body">
                    <div>{{t "common.divs.downloadXML"}}
                    </div>
                    <div style="margin-top: 20px;">
                      {{t "common.index.nameFile"}}
                      {{input type="text" value=blockuinoFilename classNames="form-control" placeholder=(t "common.index.typeFileName")}}
                    </div>
                    <div class="text-right">
                        <button class="btn btn-primary" style="margin-top: 20px;" {{action "downloadXml"}}>{{t "common.index.download"}} {{blockuinoFilename}}</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" {{action "hideDownloadXmlModal"}}>{{t "common.done"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{{/if}}

{{#if showClipboardModal}}
    <div id="clipboardModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center">{{t "common.index.copyToClipboard"}}</h4>
                </div>
                <div class="modal-body">
                    <div>{{t "common.divs.copyCodeDescription"}}
                    </div>
                    <div class="text-center" style="margin-top: 20px;">
                        <button class="btn btn-primary" style="margin-top: 20px;" {{action "copyArduino"}}>{{t "common.index.copyToClipboard"}}</button>
                        <!--button class="btn btn-primary" style="margin-top: 20px;" {{action "copyXml"}}>Kopier XML
                            kildekode
                        </button-->
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" {{action "hideClipboardModal"}}>{{t "common.done"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div><!-- /.modal -->
{{/if}}